# Ignore result and dataset folders
chpt_bkups/
datasets/
work_dirs/
vision_diffusion.egg-info/
__pycache__/
*.pyc

# Ignore all model checkpoints
*.ckpt
*.pth
*.pt
*.pkl
*.onnx
*.h5
*.tar
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.lz
*.tar.zst
*.tar.lz4
*.tar.sz
# Ignore all image formats
*.png
*.jpg
*.jpeg
*.bmp
*.gif
*.tiff
*.webp
*.out